body {
    font-family: "Poppins", sans-serif;
}

/*banner section */
.banner-section {
    background: url(../images/monster-micheal-tood.png) no-repeat center center;
    background-size: contain;
    background-color: #000;
    height: 580px;
}

.superpatch-logo,
.superpatch-logo-mobile {
    width: 8%;
}

/* sign up section */
.image-wrapper {
    position: relative;
    display: inline-block;
}

.t-shirt-image {
    display: block;
    width: 88%;
}

.michael-todd-logo {
    position: absolute;
    bottom: 10%;
    right: 74%;
    height: auto;
    width: 80%;
}

.personally-signed {
    position: absolute;
    top: 66%;
    right: 60%;
    height: auto;
    width: 100%;
}


/* social media section */
.social-media-sharing-section h2 {
    margin-top: 8rem;
}

.share-icon-container {
    display: inline-flex;
    align-items: center;
    border: 2px solid #2F2F2F;
    padding: 8px 10px;
    border-radius: 24px;
    text-decoration: none;
    color: #2F2F2F;
    font-weight: 700;
    width: 100%;
    justify-content: center;
}

.share-icon-container img {
    width: 24px;
    height: 24px;
}

.share-icon {
    cursor: pointer;
}

/* footer section */
.footer-section {
    background-color: #1d1e20;
}

/* global */
.green {
    color: #009F00;
}

.red {
    color: #FF0000;
    ;
}

.small-text {
    font-size: 12px;
}


/* media queries */
@media (max-width: 767px) {
    .banner-section {
        height: 300px;
        background-size: cover;
    }

    .social-media-sharing-section h2 {
        margin-top: 0;
    }

    .image-wrapper {
        display: flex;
        justify-content: end;
    }

    .t-shirt-image {
        display: inline-block;
        width: 60%;
    }

    .michael-todd-logo {
        right: 36%;
        width: 60%;
    }

    .personally-signed {
        top: 57%;
        right: 20%;
        font-size: 14px !important;
    }
}


@media (min-width: 768px) and (max-width: 1200px) {
    .banner-section {
        height: 400px;
        background-size: cover;
    }

    .superpatch-logo-mobile {
        width: 5%;
    }

    .superpatch-logo {
        width: 10%;
    }
}

@media (min-width: 1201px) and (max-width: 1500px) {
    .banner-section {
        background-size: cover;
    }
}

